.vue-map-container {
  height: 100%;
  width: 100%;
}

button {
  outline: 0;
}

.post-content img[src*="golos.mapala.net/from-mapala.png"] {
    display: none !important;
}

.icon {
    display: block;
    cursor: pointer;
    font-size: 13px;
    letter-spacing: -.5px;
    color: rgba(72, 84, 101, .7) !important;
    padding-left: 23px;
    text-decoration: none;
}

.icon.comment {
  background: url(~/assets/icons/icon-comment.svg) no-repeat 0;
}

.icon.widthout-text {
  padding: 0px;
}

.button-text {
  font: 700 14px PT Sans;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #485465;
}


.htm-from-blockchain img {
    width: 100%;
}

.white-text {
    color: #fff;
    font-size: 14px;
    text-decoration: none !important;
}

.av-wrap {
  background: url(~/assets/icons/account/icon-profile.svg) #fff no-repeat;
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

.user_av {
    border-radius: 50%;
    display: block;
    height: 40px;
    width: 40px;
    background: url(~/assets/icons/account/icon-profile.svg) #fff no-repeat;
}

.user_av img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.location {
    margin-top: 4px;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -.5px;
    color: #7e8793;
    padding-left: 12px;
    position: relative;
    background: 
}


.mutted-text {
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: rgba(255, 255, 255, 0.7);
}



.v--modal-overlay {
  background: rgba(72,84,101,.8);
}

/* POSTS */
.icon.repost {
    background: url('~/assets/icons/icon-repost.svg') no-repeat left center;
}
